html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul {
	list-style: none;
}

body {
	background-color: rgba(5, 44, 47, 0.8);
}

.nav {
    float: right;
	margin-top: 2px;
	margin-right: 38px;
}

.nav li {
    float: left;
	margin-left: 20px;
}

.nav a {
	font-weight: bold;
	font-size: 20px;
    display: block;
    line-height: 62px;
    color: #000;
}

.nav a:hover {
    color: grey;
}

.logo {
    float: left;
	margin-left: 7px;
    margin-top: 4px;
	color: #000;
}

.slogan {
    float: left;
    margin-top: 22px;
    font: italic 16px "Times New Roman", Times, Georgia, serif;
    color: rgba(255, 255, 255, .35);
}

.header h2 {
	padding: 0em;
	margin: 0em;
	font-size: 45px;
}

.header .container {
	z-index: 999;
	background-color: #fff;
}

a {
	text-decoration: none;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.header .container {
	width: 100%;
	height: 73px;
}

.header {
	position: relative;
	background-color: rgba(5, 44, 47, 0.8);
	padding: 0em;
	margin: 0em;
	height: 0px;
	width: 100%;
}

#googleMap {
	left: 10%;
	margin-top: 20px;
	width: 80%;
	height: 500px;
	border: 2px solid #000;
	border-radius: 5px;
}

.europe-tour .container {
	background-color: rgba(5, 44, 47, 0.8);
	width: 40%;
	margin-left: 10%;
	margin-bottom: 2%;
}

.europe-tour h1 {
	padding-top: 2%;
	margin-left: 10%;
	color: #fff;
}

.europe-tour li {
	margin-left: 10%;
	color: #fff;
}

.title {
	font-size: 20px;
	color: #fff;
}

.line {
	border-bottom: 2px solid #fff;
	width: 300px;
	margin-left: 10%;
}

.footer {
	background-color: lightgrey;
}

.footer h2 {
	color: #000;
}

.footer .copyright {
	color: #000;
	margin-top: 10px;
	padding-bottom: 20px;
}

.footer #logo {
	font-size: 30px;
	font-weight: bold;
	color: #000;
	margin-top: 0px;
	margin-bottom: 0px;
}

.footer #copyright {
	margin-top: 10px;
	color: #000;
	font-size: 20px;
}

.footer #follow-us {
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 30px;
	font-weight: bold;
	color: #000;
}

#follow-us a {
	color: #000;
	font-weight: single;
}

#follow-us a:hover {
	color: grey;
}

.footer .nav {
	margin-top: 0px;
}
.footer .nav li {
    float: left;
	margin-left: 20px;
}
.footer .nav a {
	font-weight: bold;
	font-size: 20px;
    display: inline-block;
    line-height: 62px;
    color: #000;
}

.footer .nav a:hover {
    color: #fff;
}