@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,500,700');

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

body {
	width: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* COLORS */

/*#4a90e2
#406591
#4116af
#ec5b14
#58df85
#ed1662

#292b2c
#464a4c
#636c72
#eceeef
#f7f7f9


linear-gradient(45deg, #4116af, #4a90e2);
linear-gradient(45deg, #406591, #4a90e2);
linear-gradient(45deg, #ec5b14, #ed1662);
linear-gradient(45deg, #4a90e2, #58df85);*/

h1, h2, h3, h4, h5, h6, p, a, i {
	font-weight: 300;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 36px;
}

h5 {
	font-size: 30px;
}

h6 {
	font-size: 24px;
}


p, b, a, i {
	font-size: 1rem;
}

p {
	line-height: 1.5;
}

b {
	font-weight: 700;
}

i {
	font-style: oblique;
}

a {
	color: #4a90e2;
	font-weight: 500;
	cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(45deg, #406591, #4a90e2);
}

.navbar-heading {
	color: #f7f7f9;
}


.btn-primary {
		border: none;
		background-color: #4a90e2;
}


.btn-outline-secondary {
		border-color: #f7f7f9;
		color: #f7f7f9;
}

.btn-outline-secondary:hover {
		background-color: rgba(255, 255, 255, 0.3);
		border-color: #f7f7f9;
}

.container 	{
	padding: 3rem 0;
	text-align: center;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 1rem;
    }
}

.footer {
		padding: 5rem;
		color: #f7f7f9;
		align-items: flex-start;
}